
{{> profile.hbs }}
{{> signup.hbs }}

<footer>
	<p><small>&copy; Copyright 2013&ndash;{{ moment now "YYYY" }} Stoo Goff</small></p>
</footer>

<script src="{{ baseUrl }}media/js/app.js"></script>

</body>
</html>