<nav>
	<ul>
		<li class="logo"><a href="/">Stoo Goff</a></li>
		<li>
			<a href="/blog">Blog</a>
			{{#if blog}}
			<ul>
				<li><a href="/blog/archive">Archive</a></li>
				<li><a href="/blog/category/gaming">Gaming</a></li>
				<li><a href="/blog/category/general">General</a></li>
				<li><a href="/blog/category/music">Music</a></li>
				<li><a href="/blog/category/writing">Writing</a></li>
			</ul>
			{{/if}}
		</li>
		<li><a href="/books">Books</a></li>
		<li><a href="/albums">Albums</a></li>
		<li><a href="/games">Games</a></li>
	</ul>
	<ul class="social">
		<li><a href="https://twitter.com/{{ socialMedia }}"><i class="fa fa-twitter fa-fw"></i> <span>Twitter</span></a></li>
		<li><a href="https://soundcloud.com/{{ socialMedia }}"><i class="fa fa-soundcloud fa-fw"></i> <span>Soundcloud</span></a></li>
		<li><a href="/blog.xml"><i class="fa fa-rss fa-fw"></i> <span>RSS</span></a></li>
	</ul>
</nav>
