
<section id="profile">
	<div>
		<img src="{{  baseUrl }}media/img/stoo-goff-th.jpg" alt="Stoo Goff" />
		<p>Stoo Goff is a writer, musician and programmer hailing from Norwich and now living in Glasgow. When not buried beneath a mountain of programming code or torturing guitars he can be found creating strange new lands and conjuring dreams from nothing. He regularly promises himself that he will finish the next novel and album.</p>
		<p>He is heavily influenced by a number of writers and musicians, including: Tom Waits, Ursula Le Guin, Trent Reznor, Neil Gaiman, Amanda Palmer, Gene Wolfe, Frank Miller and a host of Finnish Folk Metal.</p>
		<p>Follow him on Twitter <a href="https://twitter.com/{{ socialMedia }}">@{{ socialMedia }}</a>.</p>
	</div>
</section>
