{{> header.hbs }}

<section class="thumbnails">
	<h1>{{ title}}</h1>
	<p class="lead">Everything I’ve written by month and year.</p>

	<ul>
		{{#each archive}}
			<li><a href="{{ ../baseUrl }}{{ path }}">{{ title }}</a></li>
		{{/each}}
	</ul>
</section>

{{> footer.hbs }}
