{{> header.hbs blog=true }}

<section class="thumbnails">
	<h1>{{ title}}</h1>
	<p class="lead">Where I write about various things which take my interest.</p>
	{{{ contents }}}

	{{#each Article}}
		{{#is . ../title}}
			{{> thumbnail.hbs baseUrl=../baseUrl }}
		{{/is}}
	{{/each}}
</section>

{{> footer.hbs }}
