{{> header.hbs }}

<section class="thumbnails">
	<h1>{{ title}}</h1>
	<p class="lead">Everything I’ve written by month and year.</p>

	{{#each archive}}
		{{> thumbnail.hbs baseUrl=../baseUrl }}
	{{/each}}
</section>

{{> footer.hbs }}
